
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;600;700&display=swap');

.location-content{
    margin-left:22px;
    margin-top:-40px;
   color: hsl(178, 100%, 50%);
   font-weight:400;
   font-size:18px;
   font-family:'Outfit';
}
.clock{
    margin-left:235px;
    margin-top:-38px;
}
.clock-content{
    margin-left:260px;
    margin-top:-44px;
    color:hsl(215, 51%, 70%);
    font-weight:400;
    font-size:18px;
    font-family:'Outfit';
}

.avatar-footer img{
    height:40px;
}
.img-content-footer{
    margin-left:60px;
    margin-top:-50px;
    color:hsl(215, 51%, 70%);
    font-weight:400;
    font-family:'outfit';
}
.name-footer{
    margin-left:150px; 
    margin-top:-35px;
    color:hsl(0, 0%, 100%);
    font-weight:400;
    font-family:'outfit';
    padding-bottom:10px;
}
.name-footer:hover{
    color:hsl(178, 100%, 50%);
}
.wrapper-header{
    margin-left:600px;
    margin-top:100px;
     background-color: hsl(216, 50%, 16%);
     padding:20px;
     width:350px;
     border-radius:15px;

}
.first-content{
    color: hsl(0, 0%, 100%);
    font-family:'Outfit';
    font-size:25px;
    font-weight:600;
}
.first-content:hover{
    color:hsl(178, 100%, 50%);
}

.second-content{
    color:hsl(215, 51%, 70%);
    font-weight:400;
    font-size:20px;
    font-family:'Outfit';

}
.image img{
    height:350px;
    border-radius:10px;
}
.border{
    border-bottom-style:solid;
    border-color: hsl(215, 32%, 27%);
    border-bottom-width:1px;
    padding-bottom:10px;
}
.footer{
    padding-top:13px;
}
.avatar-footer img{
    box-shadow:0px 0px 1px 1px hsl(0, 0%, 100%);
    border-radius:50%;
}
.view-footer {
    position:absolute;
    margin-top:-646px;
    margin-left:620px;
    height:350px;
    width:350px;
    background:hsl(178, 100%, 50%);
    inset:2;
    opacity:0;
    transition: 0.5s ease;
    border-radius: 10px;
}
.view-footer img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.view-footer:hover{
    opacity: 0.5;
    cursor: pointer;
}
body{
    background-color: hsl(217, 54%, 11%);
}
@media (max-width:375px) {
    .wrapper-header{
        margin-left:30px;
        width:250px;
        margin-top:-10px;
        margin-top:60px;
    }
    .image img{
        height:250px;

    }
    .first-content{
        font-size:20px
    }
    .second-content{
        font-size:15px;
    }
    .location{
        margin-top:20px;
    }
    .clock{
        margin-left:148px;
    }
    .clock-content{
        font-size:15px;
        margin-left:170px;
        margin-top:0px;
        margin-top:-38px;
    }
    .location-content{
        font-size: 15px;
    }
    .view-footer{
       margin-left:40px;
       width:247px;
       margin-top:0px;
       margin-top: -505px;
       height:249px;
       margin-left:62px;
       border-radius:10px;
    }
}